body, button {
  font-family: fantasy;
  text-align: center;
}

button {
  padding: 7px;
  border-radius: 5px;
  width: 105px;
  margin: 6px;
  background-color: darkblue;
  color: white;
}

table {
  width: 500px;
  height: 500px;
  margin: auto;
}

table * {
  border: 1px solid black;
}

input {
  height: 45px;
  width: 45px;
  font-size: 20px;
  text-align: center;
}

.td3, .td6, .td9 {
  border-right: 5px solid darkblue;
}

.tr3 td, .tr6 td, .tr9 td {
  border-bottom: 5px solid darkblue;
}

.tr1 td {
  border-top: 5px solid darkblue;
}

.td1 {
  border-left: 5px solid darkblue;
}


